<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout :: html_head}"></head>
<body>
<div th:replace="~{/layout :: header}"></div>

<h2>Danh sách các cuốn sách hiện có</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Giá tiền</th>
        <th>Tác giả</th>
        <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${books}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.bookName}"></td>
        <td th:text="${b.author}"></td>
        <td th:text="${#numbers.formatDecimal(b.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></td>
        <td>
            <a class="btn-detail" th:href="@{/books/{id}(id=${b.id})}">Chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="~{/layout :: footer}"></div>
</body>
</html>